[submodule "third-party/riscv-tests"]
	path = third-party/riscv-tests
	url = git@github.com:riscv-software-src/riscv-tests.git
[submodule "third-party/coremark"]
	path = third-party/coremark
	url = git@github.com:eembc/coremark.git
[submodule "third-party/freertos-kernel"]
	path = third-party/freertos-kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "third-party/opensbi"]
	path = third-party/opensbi
	url = https://github.com/riscv-software-src/opensbi.git
[submodule "third-party/linux"]
	path = third-party/linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
